module.exports = {
  aws: {
    gameListTableName: '<DYNAMO TABLE NAME>',
    region: 'us-west-2'
  },
  auth: {
    token: '<DISCORD BOT TOKEN>',
    steam_token: '<STEAM API TOKEN>'
  }
}
